{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Workders">Workders</h3>
    <table id="block-table"  ng-controller="workers">
        <thead>
            <tr>
                <td class="narrow" data-i18n="Account">Account</td>
                <td class="right" data-i18n="Payouts">Payouts</td>
                <td class="right" data-i18n="Hashrate">Hashrate</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="worker in workers">
                <td><a target="_blank" href="https://blnscan.io/account/${worker.address}">${worker.address}</a></td>
                <td class="right"><span class="strong">${worker.payouts}</span></td>
                <td class="right"><span class="strong">${worker.hashrate | currency} BLN</span></td>
            </tr>
        </tbody>
    </table>
{% endblock %}